<h2>
  <%= data.name %>
</h2>
<div class="row">
  <div class="col-xs-12">
    Administered by
    <b><%= link_to data.player.user.username, :controller => "players", :action => "show", :id => data.host_id %></b>
  </div>
  <div class="col-xs-12">
    <p><%= data.message %></p>
  </div>
  <div class="col-xs-12">
    <b>Era:</b>
    <%= data.era %> (<%= data.version %>)
  </div>
  <div class="col-xs-12">
    <b>Max Players:</b>
    <%= data.max_players %>
  </div>

  <div class="col-xs-12">
    <b>Provinces:</b>
    <%= data.provinces %>
  </div>

  <div class="col-xs-12">
    <b>Server and port:</b>
    <%= data.server %>:<%= data.port %>
  </div>

  <div class="col-xs-12">
    <a href="<%= data.map_download %>">Download Map</a>
  </div>
</div>