<%- title @game.name.titlecase %>
<p id="notice"><%= notice %></p>

<%= render :partial => "gameinfo", :locals => { :data => @game } %>

<% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Signups</h1>
  <p style="color:red;">
    <b><%= if @game.requires_passwords then 'Passwords are required' end %></b>
  </p>
  <table class="signup">
    <tr>
      <% if @game.host_id == current_user.player.id || current_user.admin %>
        <th class="user">User</th>
      <% end %>
      <th class="nation">Nation</th>
      <th class="user">User</th>
      <th class="password">Password</th>
      <th class="status">Status</th>
      <th class="claim"></th>
    </tr>
  <% @nationIDs.each do |nid| %>
    <% if @openNations.key?(nid) %>
      <% value = @openNations[nid] %>
      <% key = nid %>
      <tr>
        <%= bootstrap_form_for @signup, :url => { :controller => :signups, :action => :create } do |f| %>
        <%= f.hidden_field :player_id, { :value => current_user.player.id } %>
        <%= f.hidden_field :nation_id, { :value => key }  %>
        <%= f.hidden_field :game_id, { :value => @game.id } %>
        <% if @game.host_id == current_user.player.id || current_user.admin %>
          <td>
            <%= f.text_field :username , {no_label:true} %>
          </td>
        <% end %>
        <td><%= value %></td>
        <td></td>
        <td> 
          <%= f.text_field :password, {no_label:true} %>
        </td>
        <td></td>
        <td>
          <%= f.submit :value => "Claim"  %>
        </td>
        
        <% end %>
      </tr>
    <% else %>
      <% signup = @signupsByNation[nid] %>
      <tr>
        <% if @game.host_id == current_user.player.id || current_user.admin %>
          <td></td>
        <% end %>
        <td><%= if @nations.has_key?(nid) then @nations[nid] else nid end %></td>
        <td><%= link_to signup.player.user.username, :controller => "players", :action => "show", :id => signup.player_id %></td>
        <td> 
          <% if @game.host_id == current_user.player.id || current_user.admin || signup.player_id == current_user.player.id%>
            <%= signup.password.tr!("A-Za-z", "N-ZA-Mn-za-m") %>
          <% else %>
            Password hidden
          <% end %>
        </td>
        <td>
          <%= signup.status %>
        </td>
        <td>
          <% if @game.host_id == current_user.player.id || current_user.admin || signup.player_id == current_user.player.id %>
          <%= button_to 'Delete', { :controller => "signups", :action => "destroy", :id => signup.id} , :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class=> 'btn btn-danger' %>
          <% else %>
            Taken
          <% end %>
        </td>
        
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="6" style="padding-top:2em;">or sign up by nation ID (for mod games):</td>
  </tr>
  <tr>
    <%= bootstrap_form_for @signup, :url => { :controller => :signups, :action => :create } do |f| %>
      <td colspan="2">
      
        <%= f.hidden_field :player_id, { :value => current_user.player.id } %>
        <%= f.hidden_field :game_id, { :value => @game.id } %>
        
        <%= f.number_field :nation_id %>
      </td>
      <td colspan="2">
        <%= f.text_field :password %>
      </td>
      <td colspan="2">
        <%= f.submit :value => "Claim"%>
      </td>
      <% end %>
    </td>
  </tr>
</table>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
